/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin: 0 auto;   
    font-family: 'Roboto', sans-serif;
}

 .container{     
    width: 80%;
    /* height: 800px; */
    margin: 0 auto;
 }

.clearfix::after{
    content:"";
    display: table;
    clear: both;
} 

.transparency{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);

}

.float-text{
    padding: 10px 0;
}

.float-text p{
    color: rgb(133, 128, 128);
}

/* Header */
.main-header{
    width: 100%;
    height: 80px;
    margin: 15px auto;
}

#logo{
    padding: 5px 0 0 15px;
}

/* menu di navigazione  */
nav{
    padding-top: 15px;
}

li{
    display: inline-block;
    padding-right: 8px;
    
}
a{
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(133, 128, 128);
}

/* primo blocco  */
.first-block{
    width: 100%;
    height: 360px;
    background-image: url(../img/banner.jpg);
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15px auto;
}

.photo-caption{
    color:white;
    padding: 220px 0 0 25px;    
}

h3{
    font-size: 20px;
}

p{
    font-size: 14px;
}
 
/* secondo blocco  */
.float-items{
    height: 400px;
}
 .second-block{
    width: 100%;
    height: 400px;
    margin: 0 auto;
}

/* header del secondo blocco  */
.head-secblock{
    width: 100%;
    height: 72px;
    margin-bottom: 10px;
    padding: 15px 0;
}

h1{
    font-size: 25px;
}

.head-secblock span{
    color:rgb(133, 128, 128);

}
/* blocchi flottati  */

.sidebarleft{
    width: 20%;
    height: 330px; 
    float: left;
    margin-right: 10px;
    
}

.dollar-jar{
    background-image: url(../img/img-1.jpg);
    height: 138px;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;

} 

.central{    
    width: calc(60% - 20px);
    height: 330px; 
    float: left;
}

.man-drinking{
    background-image: url(../img/banner-2.jpg);
    height: 138px;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

.sidebarright{
    width: 20%;
    height: 330px;  
    float: left;
    margin-left: 10px;
    
}

.bulb{
    background-image: url(../img/img-3.jpg);
    height: 138px;
    background-position: center;
    background-size: 110%;
    background-repeat: no-repeat;
}

/* blocco del footer  */
footer{
    width: 100%;
    height: 5%;    
    padding-top: 40px;
}

footer p{
    text-align: center;
}

footer span{
    color:red;