/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    height: 800px;
    margin: 0 auto;   
}

 .container{     
    width: 80%;
    height: 100%;
    margin: 0 auto;
 }

.lightblue{
    background-color: lightblue;
}

/* .clearfix::after{
    content:'';
    clear: both;
    display: table;
} */

/* Header */
.main-header{
    width: 100%;
    height: 10%;
    margin: 15px auto;
    
}

#logo{
    padding: 5px 0 0 15px;
}

/* menu di navigazione  */
nav{
    padding-top: 15px;
}

li{
    display: inline-block;
    padding-right: 8px;
    
}
a{
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(97, 90, 90);
}


/* primo blocco  */
.first-block{
    width: 100%;
    height: 35%;
    background-image: url(../img/banner.jpg);
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15px auto;
}


.photo-caption{
    color:white;
    padding-top: 165px;
    /* padding-right:; 
    padding-bottom:; */
    padding-left: 25px;    

}

h3{
    font-size: 20px;
}

p{
    font-size: 14px;
}
.transparency{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);

}
 
/* secondo blocco  */
 .second-block{
    width: 100%;
    height: 60%;
    margin: 0 auto;
}

/* header del secondo blocco  */
.head-secblock{
    width: 100%;
    height: 18%;
    margin-bottom: 10px;
}


.head-secblock > div{
    

}

h1{
    font-size: 25px;
}

/* blocchi flottati  */
.sidebarright{
    width: 20%;
    height: calc(85% - 10px); 
    float: right;
    margin-left: 10px;
}

.sidebarleft{
    width: 20%;
    height: calc(85% - 10px); 
    float: left;
    margin-right: 10px;
}

.central{    
    width: calc(60% - 20px);
    height: calc(85% - 10px); 
    float: left;
}

/* blocco del footer  */
footer{
    width: 100%;
    height: 5%;    
    background-color: purple;
    margin-top: 7px;
}